.myArticle,
.myArticleDetail,
.myArticleClick {
  width: 70vh;
  height: 40px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-radius: 5px;
  border: 2px solid rgb(78, 78, 78);
  background-color: rgb(9, 9, 129);
}

.myArticleClick {
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding-bottom: 2px;
}

.myArticleDetail {
  color: black;
  background-color: white;
  display: block;
  height: inherit;
  border-top: none;
  border-radius: 0 0 5px 5px;
}
